extends ../layouts/default

block head
  title Drywall is Running

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
  
block body
  div.jumbotron
    h1 AU.Drone
    p.lead
      | It's time to fly. War Eagle!
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About Us
          p AU.Drone puts you in control of a Parrot AR.Drone stationed at Auburn University. With great power comes great responsibility.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p Before you fly, sign up for a free account. Hurry up! The drone won't fly itself (yet...).
          a.btn.btn-default.btn-block(href='/signup/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p Let us know what you think about our research. We have a dedicated call center to handle your fanmail.
          a.btn.btn-default.btn-block(href='/contact/') Learn More
