body{
	padding-top: 40px;
}

.vertical-center-container {
	text-align: center;
	/*height: 500px;*/
}

.vertical-center-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.vertical-center {
	display: inline-block;
	vertical-align: middle;
	width: 1100px;
}

#main-video-feed {
	background-color: black;
	width: 640px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
}

.videobg {
	background: #303030;
	padding-bottom: 10px;
	border-color: #101010;
}

.videobg h3 {
	color: #fefefe;
}

.currentData {
	text-align: center;
}

.currentData ul{
	display: inline-block;
	list-style: none;
	font-size: 20px;
}

.currentData ul li {
	position: relative;
	display: inline;
	margin-right: 30px;
}

.databg {
	background: #303030;
	color: #fefefe;
	border-bottom: solid #101010 2px;
}

.main-controller {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.row {
	margin-bottom: 15px;
}

#drone-status {
	color: white;
	font-size: 24px;
	text-align: center;
}

#errorMessage {
    margin: 5px;
}

.controller-move-btn {
    width: 80px;
}

.controller-rotate-btn {
    width: 80px;
}

#flight-controls {
    width: 800px;
}

#flight-cardinal-controls {
    float: left;
    width: 400px;
}

#flight-rotational-controls {
    float: right;
    width: 400px;
}
