extends ../../../layouts/admin

block head
  title Admin Drone

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/stylesheets/main.css?#{cacheBreaker}')
  script(src='/dronestream/nodecopter-client.js', type='text/javascript', charset='utf-8')
  script(src='http://audrone.eng.auburn.edu:8080/socket.io/socket.io.js')
  script.
    var socket = io.connect('http://audrone.eng.auburn.edu:8080/')

block feet
  script(src='/views/account/settings/index.min.js?#{cacheBreaker}')

block body
  include dronebody.html
