<!DOCTYPE html>
<html>
    <p>
        <strong>id</strong>: <%= user._id %><br>
        <strong>username</strong>: <%= user.local.username %><br>
        <strong>password</strong>: <%= user.local.password %><br>
        <strong>administrator</strong>: <%= user.local.administrator %>
    </p>
    <% if (user.local.administrator) { %>
        <form action="http://localhost/signup">
            <input type="submit" value="Signup">
        </form>
    <% } %>
    <head>
        <title>AU.Drone Web Controller</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <script src="/dronestream/nodecopter-client.js" type="text/javascript" charset="utf-8"></script>
        <script src="http://audrone.eng.auburn.edu:8080/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://audrone.eng.auburn.edu:8080/');
        </script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar-wrapper">
          <div class="container">

            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" rel="home" href="index.ejs" title="AU.Drone Web Controller">AU.Drone</a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="drone.ejs">Home</a></li>
                    <li><a href="about.ejs">About</a></li>
                    <li><a href="contact.ejs">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="videobg">
          	<div class="vertical-center-container">
        	  	<div class="main vertical-center">
        	  		<div class="main-title">
        	  			<h3>Live Video Feed</h3>
        	  		</div>

        	  		<div id="main-video-feed">
        				<!--<img src="http://audrone.eng.auburn.edu:8000" />-->
        	  			<!--<div id="drone-status">
          					<div id="drone-cardinal-status">Nothing</div>
                            <div id="drone-rotational-status">Stable</div>
        	  			</div>-->
        	  		</div>
                </div>
            </div>
        </div>

        <div class="databg">
            <div class="container data">
                <div class="currentData">
                    <ul>
                        <li>Battery: <div style="display:inline" id="battery">100</div>%</li>
                        <li>Altitude: <div style="display:inline" id="altitude">0</div> m</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="vertical-center-container">
            <div class="main vertical-center">

                <div id="errorMessage"></div>

    	  		<div class="main-controller">
    	  			<div id="takeoff-controls">
    	  				<div class="row">
    		  				<div class="col-xs-8 col-xs-offset-2">
    		  					<button class="col-xs-4 col-xs-offset-4 btn btn-primary controller-btn" id="takeoff">Take Off</button>
    		  				</div>
    		  			</div>
    	  			</div>
                    <div id="landing-controls">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <button class="col-xs-4 col-xs-offset-4 btn btn-primary controller-btn" id="land">Land</button>
                            </div>
                        </div>
                    </div>

                    <div id="flight-controls">
        	  			<div id="flight-cardinal-controls">
                            <h4>Cardinal Controls</h4>
        		  			<div class="row">
        		  				<div class="col-xs-8 col-xs-offset-2">
        		  					<button class="btn btn-primary controller-move-btn" id="btnUp">Up</button>
        		  				</div>
        		  			</div>

        		  			<div class="row">
        		  				<div class="col-xs-8 col-xs-offset-2">
        		  					<button class="btn btn-primary controller-move-btn" id="btnLeft">Left</button>
        		  					<button class="btn btn-danger controller-move-btn" id="btnHover">Hover</button>
        		  					<button class="btn btn-primary controller-move-btn" id="btnRight">Right</button>
        		  				</div>
        		  			</div>

        		  			<div class="row">
        		  				<div class="col-xs-8 col-xs-offset-2">
        		  					<button class="btn btn-primary controller-move-btn" id="btnDown">Down</button>
        		  				</div>
        		  			</div>
        		  		</div>

                        <div id="flight-rotational-controls">
                            <h4>Rotational Controls</h4>
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-primary controller-rotate-btn" id="btnRotForward">Forward</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-primary controller-rotate-btn" id="btnRotLeft">Left</button>
                                    <button class="btn btn-danger controller-rotate-btn" id="btnStable">Stable</button>
                                    <button class="btn btn-primary controller-rotate-btn" id="btnRotRight">Right</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-primary controller-rotate-btn" id="btnRotBack">Back</button>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </div>
    	  		</div>
    	  	</div>
    	</div>

        <div class="container">
          <!-- FOOTER -->
          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Auburn University &middot; </p>
          </footer>

        </div><!-- /.container -->

        <!-- Core Javascripts 
        ====================================================================-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/javascripts/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <!-- Controller functionality -->
        <script src="/javascripts/cardinal_controller.js"></script>
        <script src="/javascripts/rotational_controller.js"></script>
        <script type="text/javascript" charset="utf-8">
            new NodecopterStream(document.getElementById("main-video-feed"));
        </script>
    </body>
</html>
