<!doctype html>
<html>
<head>
	<title>AU.Drone Quadcopter Flight</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>AU.Drone</h1>
		<h3>War Eagle!</h3>
		<a href="/login" class="btn btn-default">Login</a>
	</div>

</div>
</body>
</html>
